/*

Stylesheet for homepage

Author: Vinit Shahdeo
Email: vinitshahdeo@gmail.com
Website: vinitshahdeo.com

Copyright 2017 | miTweet

*/

html { 
background: #4693e3 no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body { 
margin: 0; 
padding: 0; 
width: 100%; 
height: 100%; 
background: #4693e3; 
font-family: 'Montserrat',sans-serif; 
font-size: 12px; 
justify-content: center;
}

a{ 
color: rgba(255,255,255,0.9); 
text-decoration: none; 
line-height: 42px; }

.top{ 
 padding-right: 2px; 
 background: #2f73b9; 
 text-align: center; 
 font-family:'Russo One', sans-serif; 
 font-size: 30px; 
 opacity: 0.9 }

.top a:hover{opacity: 0.6;}
.top span{font-size: 30px; letter-spacing:0px;font-weight: normal;}
.top .heart{opacity: 1.0;}
.top .heart:hover{fill: #fff;opacity: 0.9;}

@media only screen and (min-width: 500px) {
    .top{
        font-size:40px;
        padding: 4px;
        }
    .top span{
            font-size: 40px;
            }
    .heart {
            top: 0px;
            width:600px;
            }
    }

.result{ 
  color: #2d4c6d; 
  font-size: 24px; 
  font-weight: bold; 
  text-align: center; 
  margin:auto;
  }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color:#2f73b9 ;
  opacity: 0.8;
  text-align: center;
}

footer span{
	color: #fff;
	padding-left: 10px;
	font-size: 24px;
	font-family:'Amaranth', sans-serif;
	font-weight: normal;
	opacity: 0.6;
}
footer span:hover{
	opacity:1.0;
}

@media only screen and (max-width: 500px) {
    footer span {
     font-size: 18px;
    }
        }

@media only screen and (max-width: 500px) {
    .developer {
         display: none;
    }
    }
.heart {
  fill: #4693e3;
  position: relative;
  top: 5px;
  width: 30px;
  opacity: 1.0;
  animation: pulse 1s ease infinite;
}
.heart1 {
  fill: black;
  position: relative;
  top: 5px;
  width: 30px;
  animation: pulse 1s ease infinite;
}
.heart3 {
  fill: #fff;
  opacity: 0.6;
  position: relative;
  top: 5px;
  width: 35px;
}
.heart3:hover {
  fill: #fff;
  opacity: 1.0;
}

@media only screen and (max-width: 500px) {
    .heart3 {
         width:30px;
    }
        }
.heart2 {
  fill: black;
  position: relative;
  width: 50px;
  margin-top:auto;
}
.heart2:hover {
  opacity: 1.0;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .heart2 {
         margin:0px;
    }
        }
.icon{
  color: #2f73b9;
  fill: #2f73b9;
}
.icon:hover {
  background: #fff;
  opacity: 0.8;
  fill: #2d4c6d;
}

.icon:hover {
  border-radius: 100%;
  color:#2d4c6d ;
  fill: #2d4c6d;
  -webkit-transform: scale(1.0);
          transform: scale(1.0);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

*:focus {
    outline: none;
}

.button {
    background-color: #fff; 
    border: none;
    border-radius:50px;
    color: #68b2b1;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Montserrat',sans-serif ;
    font-weight: bold;
    font-size: 24px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 18px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #2f73b9  ; 
    color: #fff; 
    border: none;
    opacity: 0.6;
}

.button1:hover {
    background-color: #2d4c6d ; 
    color: #fff; 
    border: none;
    opacity: 0.9;
}
.button2 {
	  border-radius:10px;
    background-color: #2f73b9  ; 
    color: #fff; 
    border: none;
    opacity: 0.9;
}

.button2:hover {
    background-color: #2d4c6d ; 
    color: #fff; 
    border: none;
    opacity: 1.0;
}
@media only screen and (max-width: 500px) {
    .button {
        font-weight: normal;
        font-size: 20px;
        margin-top: 2px;
        margin-right: 2px;
        margin-left: 2px;
        margin-bottom: 0px;
    }
    .logo{
      margin: 0px;
    }
  }

.container{
	height: auto;
}
.link{
	height:10px;
}
.hide-submit input[type="submit"] { display: none;}
.buttonh{
  display: none;
}
h1{
  color: #2d4c6d;
  margin:25px auto 10px;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
}
h1 span{
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
    h1{
        margin:10px auto;
    }
    }

.logo
{
  font-family:'Russo One', sans-serif;
  margin:auto;
  opacity: 0.3;
}
h2{
  color: #fff;
  margin:10px 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  opacity: 0.7;
}
h2 span{
  font-weight: bold;
  padding-top: 10px;
}
h2 span:hover{
  cursor:pointer;
  letter-spacing: 0.8px;
}
.text1{
  font-size: auto;
}
@media only screen and (min-width: 500px) {
    h2 span {
         font-size: 24px;
    }
    }
@media only screen and (min-width: 500px) {
    .text1 {
         font-size: 38px;
    }
    }

p{
  margin:0px;
  font-family:'Montserrat', sans-serif;
  color: #fff;
  opacity: 0.2;
  font-size: auto;
}
.text{
  opacity: 1.0;
  font-family:'Montserrat', sans-serif;
}
@media only screen and (max-width: 500px) {
    #tagline {
         display: none;
    }
    }

.animate-bottom{
 -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}